{% extends 'base.html.twig' %}

{% block title %}Nuevo Juego{% endblock %}

{% block body %}
    <h1>Nuevo Juego</h1>

    <h2>Selecciona dos cartas</h2>
    <form action="{{ path('app_game_select') }}" method="POST">
        {% for card in cards %}
            <div>
                <input type="checkbox" name="cards[]" value="{{ card.id }}"> 
                {{ card.number }} de {{ card.suit }}
            </div>
        {% endfor %}
        <input type="submit" value="Jugar" />
    </form>

    <a href="{{ path('app_main') }}">Volver al inicio</a>
{% endblock %}
