{% extends 'base.html.twig' %}

{% block title %}ChatGroup{% endblock %}

{% block body %}
    <a href="{{ path('app_main') }}">Volver</a>&nbsp;&nbsp;<a href="{{ path('app_chat_group_list', {'id': id}) }}">Participantes</a>
    <h1>{{ chat_group.name }}</h1>

    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        <tr>
            <td><strong>{{ message.user.username }}: </strong> &nbsp;&nbsp;</td>
            <td>{{ message.text }} &nbsp;&nbsp;</td>
            <td>{{ message.date ? message.date|date('Y-m-d H:i') : '' }} &nbsp;&nbsp;</td>        
        </tr>
    </div>
    {% endfor %}

    {% if app.user not in usuarios %}
        <a href="{{ path('app_chat_group_join', {'id': id}) }}" class="btn btn-success">Unirme</a>
    {% else %}
        {{ form_start(form) }}
            <div>
                {{ form_widget(form.text, {'attr': {'placeholder': 'Escribe tu mensaje...'}}) }}
            </div>
            <button class="btn btn-primary">Enviar</button>
        {{ form_end(form) }}
    {% endif %}

{% endblock %}
