{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    
</style>


    

<div class="example-wrapper">
    <h1>Bienvenido</h1>
    {% if is_granted("ROLE_USER") %}
    <a href="{{ path('app_message_index') }}">Ver chat general</a><br>
    <a href="{{ path('app_chat_group_new') }}">Crear chat grupal</a><br>
    {% endif %}
    <a href="{{ path('app_login') }}">Iniciar Sesión</a><br><br>

        {% if is_granted("ROLE_USER") %}
    <h2>Listas de chat grupales:</h2>
    {% for chat_group in chat_groups %}
    <p>
    {% if chat_group.status == "abierto" %}
        <a href="{{ path('app_chat_group_show', {'id': chat_group.id}) }}">{{ chat_group.name }}</a>
    {% endif %}
    </p>

    {% endfor %}

{% endif %}

  
</div>

{% endblock %}
